<p>array-methods works!</p>

<h4>Fillter()</h4>
<h4>data = {{filterData | json}}</h4>
<h4>after filter (gretter 15)</h4>
<div>{{filterResult | json}}</div>
<hr>
<h4>concat()</h4>
<h4>data1 = {{filterData| json}}</h4>
<h4>data2 = {{concatData| json}}</h4>
<h4>After concate</h4>
<div>{{concatResult | json}}</div>
<hr>
<h4>copyWithin()</h4>
<h4>data1 = {{copyWithinData| json}}</h4>
<h4>After copyWithin(copy array element)</h4>
<div>{{copyWithinResult | json}}</div>
<hr>
<h4>every()</h4>
<h4>data = {{filterData | json}}</h4>
<h4>after every (any of one condition is false every function false all element)</h4>
<div>{{everyResult | json}}</div>
<hr>
<h4>find()</h4>
<h4>data = {{findData | json}}</h4>
<h4>after find (find the element in array)</h4>
<div>{{findResult | json}}</div>
<hr>
<h4>findIndex()</h4>
<h4>data = {{findIndexData | json}}</h4>
<h4>after find (find the index (id no.2) element in array)</h4>
<div>{{findIndexResult | json}}</div>
<hr>
<h4>flat(creates a new array with all sub-array elements)</h4>
<h4>data = {{flatData | json}}</h4>
<h4>after flat ()</h4>
<div>{{flatResult | json}}</div>
<hr>
<h4>flatMap()</h4>
<h4>data = {{flatMapData | json}}</h4>
<h4>after (flatMap returns a new array formed by applying a given callback function to each element of the array, and then flattening the result by one level.)</h4>
<div>{{flatMapResult | json}}</div>
<hr>
<h4>forEach()</h4>
<h4>data = {{forEchData | json}}</h4>
<h4>after forEach (execute the given function for each element in the array.)</h4>
<div>{{forEchResult | json}}</div>
<hr>
<h4>includes()</h4>
<h4>data = {{IncludeData | json}}</h4>
<h4>after includes (given element is existing inside an array, returning true if exists, otherwise false)</h4>
<div>{{IncludeResult | json}}</div>
<hr>
<h4>indexOf()</h4>
<h4>data = {{indexOfData | json}}</h4>
<h4>after indexOf (index of the first element which matches with the given element)</h4>
<div>{{indexOfResult | json}}</div>
<hr>
<h4>onjoin()</h4>
<h4>data = {{joinData | json}}</h4>
<h4>after onjoin (return a string by concatenating all of the elements in the array, separated by a comma or given separator)</h4>
<div>{{joinResult | json}}</div>
<hr>
<h4>keys()</h4>
<h4>data = {{keyData | json}}</h4>
<h4>after keys (returns a new Array iterator object that contains the key for each index in the array)</h4>
<div>{{keyResult | json}}</div>
<hr>
<h4>lastIndexOf()</h4>
<h4>data = {{keyData | json}}</h4>
<h4>after lastIndexOf (returns the last index at which the given element can be found in the array)</h4>
<div>{{keyResult | json}}</div>
<hr>
<h4>Map()</h4>
<h4>data = {{MapData | json}}</h4>
<h4>after Map (create a new array with the results of calling the given function to the map method)</h4>
<div>{{MapResult | json}}</div>
<hr>
<h4>pop()</h4>
<h4>data = {{popData | json}}</h4>
<h4>after pop ( removes the last element of the array)</h4>
<div>{{popResult | json}}</div>
<hr>
<h4>push()</h4>
<h4>data = {{pushData | json}}</h4>
<h4>after push (adds one or more elements to the end of the array)</h4>
<div>{{pushResult | json}}</div>
<hr>
<h4>reduce()</h4>
<h4>data = {{reduceData | json}}</h4>
<h4>after reduce (return a total of array element)</h4>
<div>{{reduceResult | json}}</div>
<hr>
<h4>reduceRight()</h4>
<h4>data = {{reduceRightData | json}}</h4>
<h4>after reduceRight (return a total of array element from rightside)</h4>
<div>{{reduceRightResult | json}}</div>
<hr>
<h4>reverse()</h4>
<h4>data = {{reverseData | json}}</h4>
<h4>after reverse (return array element reverse)</h4>
<div>{{reverseResult | json}}</div>
<hr>
<h4>shift()</h4>
<h4>data = {{shiftData | json}}</h4>
<h4>after shift (The shift method removes the first element of the array)</h4>
<div>{{shiftResult | json}}</div>
<hr>
<h4>slice()</h4>
<h4>data = {{sliceData | json}}</h4>
<h4>after slice() (Selects a part of an array, and returns the new array.)</h4>
<div>{{sliceResult | json}}</div>
<hr>
<h4>some()</h4>
<h4>data = {{someData | json}}</h4>
<h4>after slice() (tests whether at least one element in the array passes the test implemented by the provided function)</h4>
<div>{{someResult | json}}</div>
<hr>
<h4>sort()</h4>
<h4>data = {{sortData | json}}</h4>
<h4>after sort() (Sorts the elements of an array in ascending or descending order.)</h4>
<div>{{sortResult}}</div>
<hr>
<h4>splice()</h4>
<h4>data = {{spliceData | json}}</h4>
<h4>after splice() (splice changes the contents of an array by removing or replacing existing elements and/or adding new elements)</h4>
<div>{{spliceResult | json}}</div>
<hr>
<h4>toString()</h4>
<h4>data = {{toStringData | json}}</h4>
<h4>after toString() (A string represents the elements of the array.)</h4>
<div>{{toStringResult}}</div>
<hr>
<h4>unshift()</h4>
<h4>data = {{unshiftData | json}}</h4>
<h4>after unshift() ( adds one or more elements to the beginning of an array )</h4>
<div>{{unshiftResult|json}}</div>
<hr>
<h4>Fill()</h4>
<h4>data = {{FillData | json}}</h4>
<h4>after Fill() ( adds one or more elements to the beginning of an array )</h4>
<div>{{FillResult | json}}</div>
